In [7]:
import pandas as pd

df = pd.read_csv('MBA.csv', low_memory=False)

# Check the datasets 

print(df.head())
print(df.info())
print(df.describe())

print(df.isnull().sum())
print(df[df.isnull().any(axis=1)])
print(df.duplicated().sum())
print(df.dtypes)

   BillNo                             Itemname  Quantity          Date  Price  \
0  536365   WHITE HANGING HEART T-LIGHT HOLDER         6  12/1/10 8:26   2.55
1  536365                  WHITE METAL LANTERN         6  12/1/10 8:26   3.39
2  536365       CREAM CUPID HEARTS COAT HANGER         8  12/1/10 8:26   2.75
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE         6  12/1/10 8:26   3.39
4  536365       RED WOOLLY HOTTIE WHITE HEART.         6  12/1/10 8:26   3.39

   CustomerID         Country
0     17850.0  United Kingdom
1     17850.0  United Kingdom
2     17850.0  United Kingdom
3     17850.0  United Kingdom
4     17850.0  United Kingdom
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 522064 entries, 0 to 522063
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   BillNo      522064 non-null  object
 1   Itemname    520609 non-null  object
 2   Quantity    522064 non-null  int64
 3   Date        522064 non-null  object
 4   Price       522064 non-null  float64
 5   CustomerID  388023 non-null  float64
 6   Country     522064 non-null  object
dtypes: float64(2), int64(1), object(4)
memory usage: 27.9+ MB
None
            Quantity          Price     CustomerID
count  522064.000000  522064.000000  388023.000000
mean       10.090435       3.826801   15316.931710
std       161.110525      41.900599    1721.846964
min     -9600.000000  -11062.060000   12346.000000
25%         1.000000       1.250000   13950.000000
50%         3.000000       2.080000   15265.000000
75%        10.000000       4.130000   16837.000000
max     80995.000000   13541.330000   18287.000000
BillNo             0
Itemname        1455
Quantity           0
Date               0
Price              0
CustomerID    134041
Country            0
dtype: int64
        BillNo                         Itemname  Quantity           Date  \
613     536414                              NaN        56  12/1/10 11:52
1410    536544  DECORATIVE ROSE BATHROOM BOTTLE         1  12/1/10 14:32
1411    536544  DECORATIVE CATS BATHROOM BOTTLE         2  12/1/10 14:32
1412    536544                POLKADOT RAIN HAT         4  12/1/10 14:32
1413    536544            RAIN PONCHO RETROSPOT         2  12/1/10 14:32
...        ...                              ...       ...            ...
521695  581498          JUMBO BAG RED RETROSPOT         5  12/9/11 10:26
521696  581498   JUMBO  BAG BAROQUE BLACK WHITE         4  12/9/11 10:26
521697  581498    LADIES & GENTLEMEN METAL SIGN         1  12/9/11 10:26
521698  581498                S/4 CACTI CANDLES         1  12/9/11 10:26
521699  581498                   DOTCOM POSTAGE         1  12/9/11 10:26

          Price  CustomerID         Country
613        0.00         NaN  United Kingdom
1410       2.51         NaN  United Kingdom
1411       2.51         NaN  United Kingdom
1412       0.85         NaN  United Kingdom
1413       1.66         NaN  United Kingdom
...         ...         ...             ...
521695     4.13         NaN  United Kingdom
521696     4.13         NaN  United Kingdom
521697     4.96         NaN  United Kingdom
521698    10.79         NaN  United Kingdom
521699  1714.17         NaN  United Kingdom

[134041 rows x 7 columns]
5286
BillNo         object
Itemname       object
Quantity        int64
Date           object
Price         float64
CustomerID    float64
Country        object
dtype: object

In [8]:
# removes all negative and zero values in quantities
df =df[df['Quantity'] > 0 ]

# remove 0 price
df = df[df['Price'] > 0]

#check products the are not real or invalid item
df[df['Price'] == 0]['Itemname'].value_counts()

Series([], Name: count, dtype: int64)

In [9]:
# remove the invalid item
invalid_items = ['check', 'found', 'Found', 'adjustment', 'amazon']
df = df[~df['Itemname'].isin(invalid_items)]

In [10]:
# drop invalid columns

df.drop_duplicates(inplace=True)
df.dropna(inplace=True)
df.dropna(subset=['Itemname'], inplace=True)

In [11]:
import os

if not os.path.exists("cleaned_MBA.csv"):
    df.to_csv("cleaned_MBA.csv", index=False)

In [ ]:
# Import the cleaned data
cleaned_df = pd.read_csv("cleaned_MBA.csv")

   BillNo                             Itemname  Quantity          Date  Price  \
0  536365   WHITE HANGING HEART T-LIGHT HOLDER         6  12/1/10 8:26   2.55
1  536365                  WHITE METAL LANTERN         6  12/1/10 8:26   3.39
2  536365       CREAM CUPID HEARTS COAT HANGER         8  12/1/10 8:26   2.75
3  536365  KNITTED UNION FLAG HOT WATER BOTTLE         6  12/1/10 8:26   3.39
4  536365       RED WOOLLY HOTTIE WHITE HEART.         6  12/1/10 8:26   3.39

   CustomerID         Country
0     17850.0  United Kingdom
1     17850.0  United Kingdom
2     17850.0  United Kingdom
3     17850.0  United Kingdom
4     17850.0  United Kingdom

In [14]:
from mlxtend.frequent_patterns import apriori, association_rules

# Create the basket (transaction matrix) from cleaned_df
basket = cleaned_df.pivot_table(index='BillNo', columns='Itemname', values='Quantity', aggfunc='sum', fill_value=0)

# Filter out infrequent items to reduce memory usage
item_frequencies = basket.sum(axis=0)
frequent_items = item_frequencies[item_frequencies >= 20].index  # keep items bought at least 20 times
basket_filtered = basket[frequent_items]

# Convert quantities to 0 or 1 and to boolean for memory efficiency
basket_sets = basket_filtered.applymap(lambda x: 1 if x >= 1 else 0).astype(bool)

# Increase min_support if still running out of memory (try 0.01 or higher)
frequent_itemsets = apriori(basket_sets, min_support=0.01, use_colnames=True)

print("Frequent Itemsets:")
print(frequent_itemsets.head())

C:\Users\leyan\AppData\Local\Temp\ipykernel_2984\4156348744.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_sets = basket_filtered.applymap(lambda x: 1 if x >= 1 else 0).astype(bool)

Frequent Itemsets:
    support                               itemsets
0  0.013051               (10 COLOUR SPACEBOY PEN)
1  0.010133      (12 MESSAGE CARDS WITH ENVELOPES)
2  0.015089        (12 PENCIL SMALL TUBE WOODLAND)
3  0.016796  (12 PENCILS SMALL TUBE RED RETROSPOT)
4  0.015915          (12 PENCILS SMALL TUBE SKULL)

In [ ]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

Association Rules:

In [19]:
rules_filtered = rules[(rules['confidence'] >= 0.6) & (rules['lift'] >= 1.2)]

In [20]:
# Display top 10 rules
print("\nAssociation Rules (Top 10):")
print(rules_filtered[['antecedents', 'consequents', 'support', 'confidence', 'lift']]
      .sort_values(by='lift', ascending=False).head(10))

Association Rules (Top 10):
                         antecedents                      consequents  \
528       (REGENCY SUGAR BOWL GREEN)          (REGENCY MILK JUG PINK)
529          (REGENCY MILK JUG PINK)       (REGENCY SUGAR BOWL GREEN)
531        (REGENCY TEA PLATE ROSES)        (REGENCY TEA PLATE GREEN)
530        (REGENCY TEA PLATE GREEN)        (REGENCY TEA PLATE ROSES)
504   (POPPY'S PLAYHOUSE LIVINGROOM)      (POPPY'S PLAYHOUSE BEDROOM)
505      (POPPY'S PLAYHOUSE BEDROOM)   (POPPY'S PLAYHOUSE LIVINGROOM)
560  (SET/6 RED SPOTTY PAPER PLATES)    (SET/6 RED SPOTTY PAPER CUPS)
561    (SET/6 RED SPOTTY PAPER CUPS)  (SET/6 RED SPOTTY PAPER PLATES)
506      (POPPY'S PLAYHOUSE KITCHEN)   (POPPY'S PLAYHOUSE LIVINGROOM)
507   (POPPY'S PLAYHOUSE LIVINGROOM)      (POPPY'S PLAYHOUSE KITCHEN)

      support  confidence       lift
528  0.010133    0.763485  56.588297
529  0.010133    0.751020  56.588297
531  0.011399    0.687708  50.764565
530  0.011399    0.841463  50.764565
504  0.010904    0.811475  47.998638
505  0.010904    0.644951  47.998638
560  0.012611    0.724684  47.336433
561  0.012611    0.823741  47.336433
506  0.011454    0.619048  46.070843
507  0.011454    0.852459  46.070843

Explain the shit here report it butngig visual para chada